<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css" >
    </head>
    <body>
        {{>header}}        
        <div class="content">
            <img class="portrait" src="/img/Back.png">
            <h1>{{name}}</h1>
        </div>
        {{>footer}}
    </body>
</html>